@model RegisterViewModel
<h1>Register</h1>

<form asp-action="Register" asp-controller="Account" method="post">
    <div>
        <h3>Email</h3>
        <input type="email" asp-for="Email" />
    </div>
    <div>
        <h3>First Name</h3>
        <input type="text" asp-for="FirstName" />
    </div>
    <div>
        <h3>Last Name</h3>
        <input type="text" asp-for="LastName" />
    </div>
    <div>
        <h3>Password</h3>
        <input type="password" asp-for="Password" />
    </div>
    <div>
        <h3>Confirm Password</h3>
        <input type="password" asp-for="PasswordConfirm" />
    </div>
    <div>
        <h3>Age</h3>
        <input type="number" asp-for="Age" />
    </div>


    <div>
        <input type="submit" value="Готово"/>
    </div>



</form>
