*{
    margin:0;
    padding:0;
}

.grid{
    display:grid;
    grid-template-columns:repeat(1, 250px 3fr);
    grid-auto-rows:minmax(90px, auto);
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer"
}

header{
    background:#b1769a;
    grid-area:header;
}
main{
    background:#ffd800;
    grid-area:main;
}
nav {
    background: #00ff90;
    grid-area: nav;
    grid-column:1;
}
footer{
    grid-area:footer;
    background:#662968;
}