*{
    margin:0;
    padding:0;
}

.grid{
    display:grid;
    grid-template-columns:repeat(1, 250px 3fr);
    grid-auto-rows:minmax(90px, auto);
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer"
}

header{
    background:#b1769a;
    grid-area:header;
}
main{
    background:#ffd800;
    grid-area:main;
}
nav {
    background: #00ff90;
    grid-area: nav;
    grid-column:1;
}
footer{
    grid-area:footer;
    background:#662968;
}
.pagination{
    list-style-type:none;
    display:flex;
}
.pagination li{
    margin:5px;
    padding:1em;
    border:2px solid white;
}
.active{
    background:red;
}
.error-message {
    width: 20em;
    height: 12em;
    border: 1px solid black;
    background: red;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 0;
    bottom: 0;
    transition: all 2.5s;
    opacity:1;
    
    right: 0;
    background-color:red;
    margin: 3em;
    font-size: 10px;
    text-align: center;
    align-items: center;

}