@model CarShop.BL.ViewModel.UserBasketViewModel



@if (Model.Cars.Count() <=0)
    {
        <h1>Корзина пуста</h1>
    }
    else
    {
        foreach (var item in Model.Cars)
        {
          <h2>@item.Name</h2>
          <a asp-action="DeleteCarFromBasket" asp-controller="Basket" asp-route-id="@item.Id">Видалити</a>
        }
    }

