@model CarShop.BL.ViewModel.EditCarViewModel
@{ 
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


    <form asp-action="CreateCar" asp-controller="Car" method="post" enctype="multipart/form-data">

        <div>
            <h2>Назва машини</h2>
            <input type="text" name="Name" />
        </div>

        <div>
            <h2>Назва машини</h2>
            <textarea name="Text"></textarea>
        </div>
        <div>
            <select name="CategoryId">
                @foreach (var item in Model.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }

            </select>
        </div>
        <div>
            <select name="CarLogoId">
                @foreach (var item in Model.CarLogos)
                {
                    <option value="@item.Id">@item.NameLogo</option>
                }

            </select>
        </div>

        <div>
            <h2>Вага машини</h2>
            <input type="number" name="Weight" />
        </div>


        <div>
            <h2>Колір машини</h2>
            <input type="number" name="Color" />
        </div>

        <div>
            <h2>Висота машини</h2>
            <input type="number" name="Height" />
        </div>
        <div>
            <h2>Ширина машини</h2>
            <input type="number" name="Width" />
        </div>
        <div>
            <h2>Назва двигуна</h2>
            <input type="text" asp-for="Engine.Name" />
        </div>
        <div>
            <h2>Кіньські сили</h2>
            <input type="number" asp-for="Engine.Horsepower" />
        </div>
        <div>
            <h2>Ціна</h2>
            <input type="number" name="Price" />
        </div>

        <div>
            <h2>Виберіть картинку</h2>
            <input type="file" name="formFile" />
        </div>
        <div>
            <h2>Виберіть задній фон</h2>
            <input id="file" type="file" name="formFile1" />
        </div>

        <div>
            <output id="list"></output>
        </div>

        <div>
            <input type="submit" />
        </div>
    </form>


@section Scripts{ 
    <script>
       function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }

      var reader = new FileReader();

      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
          span.innerHTML = ['<img class="thumb" src="', e.target.result,
                '" title="', escape(theFile.name), '"/>'].join('');
            document.getElementById('list').insertAdjacentElement(span, null);
        };
      })(f);

      // Read in the image file as a data URL.
      reader.readAsDataURL(f);
    }
  }

  document.getElementById('file').addEventListener('change', handleFileSelect, false);
    </script>
}