@{

    Layout = "~/Views/Shared/_UserLayout.cshtml";

}
@if (TempData["Messages"] is true)
{
    <div class="error-message" id="myModal">
    <h1>Спочатку створіть категорію</h1>
    </div>
}

<h1>Створити категорію</h1>

<form method="post" asp-action="CreateCategory" asp-controller="Car">
    <div>
        <h2>Ім'я</h2>
        <input type="text" name="Name" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>
@section Scripts{
    @if (TempData["Messages"] is true)
    {
        <script>

            
         
            let modal = document.getElementById("myModal");
            setTimeout(function () {
                modal.style.transition = "all 1.5s";
                modal.style.opacity = 0;
            }, 5000);
    

        </script>
    }
}